/* Variables */

:root {
  --bg-green: #849D8F;
  --bg-brown: #9D8B84;
  --bg-grey: #8996A6;
  --bg-tiles: #f8f7f4;
  --bg-map-contacts: #fefefe;
  --bg-submenu-link-hover: #FBDED7;
  --bg-submenu-link-active: #F6B5A5;
  --bg-submenu-link-on-page: #D07058;
  --bg-pop-up-overlay: rgba(0, 0, 0, 0.3);
  --img-bg-advantages: #ede1c7;
  --font-color-primary: #FFFFFF;
  --font-color-secondary: #323232;
  --font-color-placeholder: #999999;
  --menu-element-active-background: #ededed;
  --menu-element-active-shadow: #696969;
  --menu-element-on-page: #d07058;
  --transparent-white: rgba(255, 255, 255, 0.2);
  --link-basic-border: rgba(255,255,255, 0.25);
  --link-basic-border-invisible: rgba(255,255,255, 0);
  --link-basic-hover: #ffbc9e;
  --link-basic-border-hover: rgba(255, 188, 158, 0.3);
  --input-outline-active: rgba(46, 136, 228, 0.52);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-repeat: no-repeat;
  background-position: top center;
}

/* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: var(--font-color-primary);
  background-color: var(--bg-green);
}


.page-wrapper-1 {
  background-color: var(--bg-green);
  background-image: url("../img/promo-ice-cream-green.png");
}

.page-wrapper-2 {
  background-color: var(--bg-grey);
  background-image: url("../img/promo-ice-cream-grey.png");
}

.page-wrapper-3 {
  background-color: var(--bg-brown);
  background-image: url("../img/promo-ice-cream-brown.png");
}

*, *>::after, *>::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.button-basic {
  font-family: inherit;
  font-style: normal;
  color: var(--font-color-primary);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  font-weight: bold;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.button-basic:hover,
.button-basic:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button-basic:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.link-basic {
  color: var(--font-color-primary);
  border-bottom: 1px solid var(--link-basic-border);
}

.link-basic:focus,
.link-basic:hover,
.link-basic:active {
  color: var(--link-basic-hover);
  border-color: var(--link-basic-border-hover);
}

.logo {
  line-height: 0;
}


.input-custom {
  color: var(--font-color-secondary);
  font-family: inherit;
  font-weight: bold;
  background-color: var(--font-color-primary);
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline:none;
}

.input-custom::placeholder {
  color: var(--font-color-placeholder);
  font-weight: normal;
}

.input-text-small {
  font-size: 14px;
  line-height: 16px;
}

.input-text-small::placeholder {
  font-size: 14px;
  line-height: 16px;
}

.input-text-large {
  font-size: 16px;
  line-height: 20px;
}

.input-text-large::placeholder {
  font-size: 16px;
  line-height: 20px;
}

.input-custom:hover {
  box-shadow: inset 0 0 0 2px rgba(178, 178, 178, 0.52);
}

.input-custom:focus {
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}


/* Header */

  /* Site Menu */
.page-header {
  display: flex;
  margin-top: 9px;
  align-items: flex-start;
  position: relative;
}

.logo-gllacy {
  font-size: 0;
  line-height: 0;
}

.site-menu {
  margin: 0;
  margin-left: 11px;
  margin-top: 17px;
}

.site-menu-list {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
}

.site-menu li {
  margin-right: 5px;
}

.menu-element {
  color: var(--font-color-primary);
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  padding: 5px 14px 7px 14px;
  border-radius: 26px;
}

.menu-element-on-page {
  background-color: var(--menu-element-on-page);
}

.menu-element span {
  border-bottom: 1px solid var(--link-basic-border);
}

.menu-element-on-page > span {
  border-color: var(--link-basic-border-invisible);
}

.menu-element:hover,
.menu-element:focus {
  color: var(--font-color-secondary);
  background-color: var(--font-color-primary);
}

.menu-element:hover span,
.menu-element:focus span {
  border-color: var(--link-basic-border-invisible);
}

.menu-element:active {
  background-color: var(--menu-element-active-background);
  box-shadow: inset 0px 2px 1px var(--menu-element-active-shadow);
}

  /* Submenu */

.nav-catalog {
  position: relative;
}

.nav-catalog::before {
  content: " ";
  position: absolute;
  top: 27px;
  height: 6px;
  width: 88px;
}

.submenu {
  display: none;
  background-color: var(--font-color-primary);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  position: absolute;
  top: 33px;
  left: -5px;
  z-index: 50;
  min-width: 143px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 3px;
}

.nav-catalog:hover .submenu,
.catalog-link:focus ~ .submenu {
  display: block;
}

.submenu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  position: relative;
}

.submenu-list li {
  width: 100%;
  margin-bottom: 4px;
}

.submenu-list li:first-of-type {
  margin-bottom: 12px;
  position: relative;
}

.submenu-list li:first-of-type::after {
  content: " ";
  position: absolute;
  width: auto;
  height: 1px;
  right: 9px;
  left: 6px;
  top: 32px;
  background-color: rgba(50, 50, 50, 0.2);
  display: block;
}

.submenu-link {
  color: var(--font-color-secondary);
  font-size: 14px;
  line-height: 16px;
  padding-left: 21px;
  padding-right: 11px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 6px;
  display: block;
}

.submenu-link:hover,
.submenu-link:focus {
  background-color: var(--bg-submenu-link-hover);
  color: var(--font-color-secondary);
}

.submenu-link:active {
  background-color: var(--bg-submenu-link-active);
}

.submenu-link-on-page {
  background-color: var(--bg-submenu-link-on-page);
  color: var(--font-color-primary);
}


/* Login, Search, and Shopping Cart */

.user-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-left: auto;
  margin-top: 14px;
}

.user-menu li {
  margin-left: 10px;
}

.user-menu-button {
  color: var(--font-color-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--transparent-white);
  border-radius: 20px;
  padding: 8px 16px;
  height: 33px;
}

.user-menu-button:focus,
.user-menu-button:hover,
.user-menu-button:active {
  color: var(--font-color-secondary);
  background-color: var(--font-color-primary);
}

.search-button {
  padding: 8px;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button:hover path,
.search-button:focus path,
.search-button:active path {
  fill: var(--font-color-secondary);
}

.user-menu-search {
  position: relative;
}

.user-menu-search::after {
  content: " ";
  position: absolute;
  top: 33px;
  width: 33px;
  height: 6px;
}

.dropdown-search {
  display: none;
  position: absolute;
  top: 38px;
  right: 0;
  width: 341px;
  background-color: var(--bg-tiles);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  z-index: 50;
}

.user-menu-search:hover .dropdown-search,
.search-button:focus ~ .dropdown-search {
  display: block;
}

.search-form {
  margin: 20px 15px;
}

.search-field {
  width: 100%;
  padding: 14px 15px;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button:hover g,
.login-button:focus g,
.login-button:active g {
  fill: var(--font-color-secondary);
}

.user-menu-login {
  position: relative;
}

.user-menu-login::after {
  content: " ";
  position: absolute;
  top: 33px;
  width: 91px;
  height: 6px;
}

.dropdown-login-menu {
  display: none;
  position: absolute;
  top: 38px;
  right: 0px;
  background-color: var(--bg-tiles);
  min-width: 277px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  z-index: 50;
}

.user-menu-login:hover .dropdown-login-menu {
  display: block;
}

.login-form {
  padding: 18px 16px 24px 19px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login-form input {
  width: 100%;
  padding: 14px 15px;
  margin-bottom: 20px;
}

.login-form a {
  color: var(--font-color-secondary);
  font-size: 13px;
  line-height: 15px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.login-form .button-basic {
  padding: 14px 27px 12px 25px;
  font-size: 18px;
  line-height: 16px;
}

.login-form .register-recover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.shopping-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart-button:hover g,
.shopping-cart-button:focus g,
.shopping-cart-button:active g {
  fill: var(--font-color-secondary);
}

.shopping-cart-button-full {
  color: var(--font-color-secondary);
  background-color: var(--font-color-primary);
}

.shopping-cart-button-full g {
  fill: var(--font-color-secondary);
}

.shopping-cart-icon-fill {
  fill: rgba(232, 77, 55, 1.0);
}

/* Shopping Cart Dropdown */

.user-menu-shopping-cart {
  position: relative;
}

.user-menu-shopping-cart::after {
  content: " ";
  position: absolute;
  top: 33px;
  width: 117px;
  height: 6px;
}

.shopping-cart-contents {
  display: none;
  color: var(--font-color-secondary);
  font-size: 13px;
  line-height: 16px;
  position: absolute;
  top: 38px;
  right: 0;
  padding: 18px 14px 23px 13px;
  background-color: var(--bg-tiles);
  min-width: 539px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  z-index: 50;
}

.user-menu-shopping-cart-full:hover .shopping-cart-contents {
  display: block;
}

.shopping-cart-contents table {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #CACAC7;
  min-width: 510px;
  padding-bottom: 20px;
}

.shopping-cart-contents tr {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.shopping-cart-contents tr:first-of-type {
  margin-top: 0;
}

.shopping-cart-contents td {
  padding: 0;
}

.shopping-cart-item-image {
  display: flex;
  align-items: center;
  margin-left: 9px;
  margin-right: 13px;
}

.shopping-cart-contents img {
  border-radius: 50%;
}

.shopping-cart-unit-price {
  color: #ababab;
}

.shopping-cart-item-remove {
  background-color: transparent;
  background-image: url("../img/cross-small.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  border: none;
  cursor: pointer;
  margin-left: 6px;
}

.shopping-cart-item {
  color: var(--font-color-secondary);
  display: block;
  max-width: 216px;
  margin-right: 31px;
}

.shopping-cart-item-weight {
  color: #000;
  margin: 0;
}

.shopping-cart-item-price {
  margin: 0;
  margin-left: 26px;
}

.shopping-cart-checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.shopping-cart-checkout p {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 15px;
}

.shopping-cart-total {
  font-size: 15px;
  line-height: 16px;
}

.shopping-cart-contents a.button-basic {
  font-size: 18px;
  line-height: 16px;
  padding: 14px 15px 12px 15px;
}

/* Contact Info */

.contact-info {
  text-align: right;
  position: absolute;
  right: 0;
  top: 68px;
  z-index: 10;
}

.contact-info p {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.contact-info a {
  color: var(--font-color-primary);
  display: block;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  margin-top: 8px;
}


/* Main */

.page-heading {
  font-size: 35px;
  line-height: 35px;
  margin: 3px 0;
}

  /* Slider */

.promo-slider {
  width: 100%;
  position: relative;
}

.promo-slide-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.promo-slide {
  display: none;
  flex-direction: column;
  align-items: center;
}

.slide-active {
  display: flex;
}

.promo-slide h3 {
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 27px;
  max-width: 672px;
  margin-top: 325px;
}

.promo-slider a.button-basic {
  font-size: 32px;
  line-height: 30px;
  padding: 16px 40px;
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 0;
  z-index: 20;
  display: flex;
  max-width: 150px;
  flex-wrap: wrap;
  align-items: center;
}

.slider-controls button {
  background-color: transparent;
  border: 2px solid #FFF;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  padding: 0;
  cursor: pointer;
  margin-right: 8px;
}

.slider-controls button:hover:not(.current) {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls .current {
  background-color: #fff;
}

/* Promo 2 kilograms */

.promo-tiles {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.promo-tile {
  display: flex;
  flex-direction: column;
  background-position: 50% 50%;
  padding: 16px 22px 22px 16px;
  border-radius: 16px;
  width: 560px;
  min-height: 229px;
  overflow: hidden;
}

.promo-tile h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 18px;
}

.promo-tile p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.promo-tile a.button-basic {
  font-size: 18px;
  line-height: 20px;
  padding: 16px 22px 13px 22px;
  align-self: flex-end;
  margin-top: auto;
}

.promo-tile-raspberry {
  background-color: #912746;
  background-image: url(../img/background-promo-raspberry.jpg);
}

.promo-tile-choco {
  background-color: #4c3930;
  background-image: url(../img/background-promo-chocolate.jpg);
}

  /* Catalog Breadcrumbs */

.breadcrumbs {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 23px;
}

.breadcrumbs a {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  margin-right: 23px;
}

.breadcrumbs a::after {
  content: "»";
  position: absolute;
  font-size: 13px;
  top: 0px;
  left: 62px;
}

.breadcrumbs-current a::after {
  display: none;
}

/* Catalog Filter */

.catalog-filter {
  font-weight: 500;
  line-height: 18px;
  width: 869px;
  margin-left: 0;
  margin-top: 17px;
}

.catalog-filter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.catalog-filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 12px;
}

.filter-legend {
  font-size: 14px;
  line-height: 18px;
  border: none;
  margin-left: 16px;
  margin-bottom: 6px;
}

.filter-sorting-principle {
  color: var(--font-color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--transparent-white);
  border: none;
  border-radius: 20px;
  height: 36px;
  padding: 0 15px;
  padding-bottom: 2px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDExIDEwIj48cGF0aCBmaWxsPSIjRUNGMUVFIiBkPSJNNS41IDEwTDAgMGgxMSIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: right 14px top 13px;
  background-size: 10px 11px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 196px;
  cursor: pointer;
}

.filter-sorting-principle:hover,
.filter-sorting-principle:focus {
  color: var(--font-color-secondary);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDExIDEwIj48cGF0aCBmaWxsPSIjMzIzMjMyIiBkPSJNNS41IDEwTDAgMGgxMSIvPjwvc3ZnPg==");
}

.price-range-prices input {
  font-family: inherit;
  background-color: transparent;
  border: none;
  color: var(--font-color-primary);
  width: 50px;
  text-align: right;
}

.filter-price-range {
  width: 218px;
  background-color: var(--transparent-white);
  border-radius: 20px;
  height: 36px;
  padding: 17px 21px;
  position: relative;
}

.filter-price-range .scale {
  height: 2px;
  background-color: rgba(248, 247, 244, 0.5);
}

.filter-price-range .bar {
  width: 70%;
  height: 2px;
  background-color: var(--bg-tiles);
}

.filter-price-range .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(171,171,171,0.3);
  box-sizing: content-box;
  position: absolute;
  top: 8px;
  left: 0;
  cursor: pointer;
}

.filter-price-range .toggle-min {
  left: 12px;
}

.filter-price-range .toggle-max {
  left: 133px;
}

.filter-radio {
  background-color: var(--transparent-white);
  border-radius: 20px;
  padding: 9px 17px 9px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 425px;
  position: relative;
  min-height: 36px;
}

.radio-input {
  opacity: 0;
  position: absolute;
}

.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 33px;
}

.radio-label::before {
  content: " ";
  width: 22px;
  height: 22px;
  background-image: url("../img/radio-off.svg");
  background-size: 22px 22px;
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.8;
  position: absolute;
  left: 0;
  z-index: 10;
}

.radio-label::after {
  box-shadow: 0 0 3px 3px lightblue, inset 0 0 2px 2px lightblue;
  opacity: 0;
  content: " ";
  width: 23px;
  height: 23px;
  position: absolute;
  left: 0;
  border-radius: 50%;
  z-index: 5;
}

.radio-input:focus + .radio-label::after {
  opacity: 1.0;
}

.radio-label:hover::before {
  opacity: 1.0;
}

.radio-input:checked + .radio-label::before {
  background-image: url("../img/radio-on.svg");
}

.radio-input:disabled + .radio-label::before {
  opacity: 0.4;
}

.filter-toppings {
  background-color: var(--transparent-white);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-top: 3px;
  padding: 8px 20px 10px 16px;
  min-width: 711px;
  min-height: 36px;
}

.label-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 32px;
}

.input-checkbox {
  opacity: 0;
  position: absolute;
  left: 0px;
  height: 20px;
  width: 24px;
}

.label-checkbox::before {
  content: " ";
  height: 20px;
  width: 24px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 20px 20px;
  position: absolute;
  left: 0px;
  top: 0;
  opacity: 0.8;
  z-index: 10;
}

.label-checkbox::after {
  content: " ";
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 5;
  border-radius: 2px;
  box-shadow: 0 0 3px 3px lightblue, inset 0 0 1px 1px lightblue;
  opacity: 0;
}

.input-checkbox:focus + .label-checkbox::after {
  opacity: 1.0;
}

.input-checkbox:checked + .label-checkbox::before {
  background-image: url("../img/checkbox-on.svg");
  background-size: 24px 20px;
  height: 20px;
  width: 24px;
}

.input-checkbox:focus  .label-checkbox::before {
  opacity: 1.0;
}

.label-checkbox:hover::before {
  opacity: 1.0;
}

.input-checkbox:disabled + .label-checkbox::before {
  opacity: 0.4;
}

.filter-button {
color: var(--font-color-primary);
font-family: inherit;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 18px;
box-shadow: inset 0px 0px 0 2px var(--font-color-primary);
background-color: var(--transparent-white);
border-radius: 20px;
padding: 9px 30px 9px 28px;
border: none;
min-height: 36px;
}

.filter-button:hover,
.filter-button:focus {
color: var(--font-color-secondary);
background-color: var(--font-color-primary);
}

.filter-button:active {
box-shadow: inset 0px 2px 1px var(--menu-element-active-shadow);
}

  /* Hits - Catalog Items */

.catalog-items-list {
  margin-top: 40px;
}

.catalog-items-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 36px;
  margin-left: -13px;
  margin-right: -13px;
}

.catalog-item a {
  line-height: 0;
}

.catalog-items-list li {
  display: flex;
  justify-content: center;
  position: relative;
}

.catalog-item-background {
  position: absolute;
  background-color: var(--transparent-white);
  width: 293px;
  height: 402px;
  top: -6px;
  left: -13px;
  z-index: 1;
  display: none;
  border-radius: 4px;
}

.catalog-item a.button-basic {
  font-size: 18px;
  line-height: 24px;
  padding: 12px 16px;
  position: absolute;
  top: 337px;
  left: 46px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 267px;
  position: relative;
}

.catalog-item:hover .catalog-item-background {
  display: block;
}

.hit::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/hit.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 61px;
  width: 61px;
  background-color: var(--font-color-primary);
  border-radius: 50%;
}

.catalog-items-list img {
  border-radius: 50%;
}

.catalog-item-price {
  color: var(--font-color-primary);
  font-size: 30px;
  line-height: 31px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  margin: 0;
  margin-top: -55px;
  align-self: flex-start;
  display: flex;
  align-items: flex-end;
}

.catalog-item-price span {
  font-size: 45px;
  line-height: 40px;
  display: flex;
  align-items: flex-end;
}

.ruble-icon {
  display: flex;
  align-items: flex-end;
}

.catalog-items-list h3 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-top: 28px;
  max-width: 256px;
  z-index: 1;
}

  /* Advantages Section */

.advantages {
  margin-top: 40px;
  background-color: var(--img-bg-advantages);
  background-image: url(../img/background-waffle-pattern.jpg);
  background-repeat: repeat;
  border-radius: 16px;
  padding: 24px 27px 7px 20px;
}

.advantages ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.advantages-slogan {
  color: var(--font-color-secondary);
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 17px;
}

.advantages-item {
  color: var(--font-color-secondary);
  width: 534px;
  padding-left: 55px;
  margin:0;
  margin-bottom: 24px;
  position: relative;
}

.advantages-item p {
  margin: 0;
}

.advantages-item::before {
  content: " ";
  background-repeat: no-repeat;
  background-position: center;
  height: 49px;
  width: 49px;
  position: absolute;
  top: -10px;
  left: 0;
  border: 2px solid var(--font-color-secondary);
  border-radius: 50%;
}

.icon-ice-cream::before {
  background-image: url("../img/icon-ice-cream.svg");
}

.icon-cow::before {
  background-image: url("../img/icon-cow.svg");
}

.icon-eco::before {
  background-image: url("../img/icon-eco.svg");
}

.icon-thermometer::before {
  background-image: url("../img/icon-thermometer.svg");
  background-position: left 16px top 10px;
}

  /* Blogpost & Newsletter Subscription */

    /* Blogpost */
.blogpost-newsletter {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.blogpost {
  background-color: #ffffff;
  background-image: url(../img/background-blogpost-strawberry.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 16px;
  width: 560px;
  min-height: 220px;
}

.blogpost article {
  display: flex;
  flex-direction: column;
  width: 287px;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 21px 20px;
}

.blogpost h3 {
  color: var(--font-color-secondary);
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 6px;
}

.blogpost a {
  color: var(--font-color-secondary);
  font-weight: bold;
  font-size: 24px;
  line-height:  31px;
  text-decoration: underline;
  margin: 0;
}

.blogpost p {
  margin: 0;
  padding: 0;
}

    /* Newsletter Subscription */

.newsletter-subscription-border {
  background-image: url(../img/bg-post.svg);
  background-repeat: repeat;
  border-radius: 16px;
  padding: 5px 6px;
  width: 560px;
  box-sizing: border-box;
}

.newsletter-subscription {
  background-color: var(--bg-tiles);
  border-radius: 16px;
  overflow: hidden;
  height: 100%;
  padding: 25px 16px 15px 20px;
}

.newsletter-subscription article {
  display: flex;
  flex-wrap: wrap;

}

.newsletter-subscription p {
  color: var(--font-color-secondary);
  margin: 0;
  padding: 0;
  max-width: 512px;
}

.subscription-form {
  width: 100%;
  display: flex;
  align-items: baseline;
  margin-right: 4px;
  margin-top: 40px;
}

.newsletter-subscription input {
  height: 44px;
  padding: 14px;
  flex-grow: 1;
  margin-right: 10px;
}

.newsletter-subscription .button-basic {
  font-size: 18px;
  line-height: 24px;
  padding: 11px 19px 9px 19px;
}


  /* Interactive Map */

.interactive-map {
  margin-top: 40px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 430px;
  overflow: hidden;
}

.interactive-map .content-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.map-contacts {
  color: var(--font-color-secondary);
  background-color: var(--bg-map-contacts);
  border-radius: 16px;
  font-size: 18px;
  line-height: 24px;
  width: 303px;
  padding: 30px 25px 31px 25px;
}

.map-contacts p {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  max-width: 190px;
}

.map-contacts p:first-of-type {
  line-height: 21px;
}

.map-contacts address {
  font-weight: bold;
  font-style: normal;
  margin-bottom: 20px;
}

.map-contacts b {
  color: var(--font-color-secondary);
}

.map-contacts a {
  display: block;
  margin-top: 3px;
}

.map-contacts a.button-basic {
  padding: 10px 28px 9px 28px;
  margin: 0;
  margin-top: 27px;
}

/* Paginator */
.paginator {
  margin-top: 78px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 29px;
  border-bottom: 1px solid var(--transparent-white);
}

.paginator a {
  color: var(--font-color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 3px;
}

.paginator a:last-of-type {
  margin-right: 0;
}

.paginator-back {
  transform: scaleX(-1);
}

.paginator-inactive path {
  fill: #C1C6CE;
}

.paginator-page {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.paginator-page:hover {
  font-weight: 500;
  color: var(--font-color-primary);
  border-radius: 50%;
  background-color: var(--transparent-white);
}

a.paginator-on-page,
.paginator-page:active {
  color: var(--font-color-secondary);
  background-color: var(--font-color-primary);
}

/* Footer */

.page-footer {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.social-links {
  margin-bottom: 38px;
}
.social-links ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-links li {
  margin-right: 8px;
  line-height: 0;
}

.social-links li:last-of-type {
  margin-right: 0;
}

.social-icon {
  line-height: 0;
  font-size: 0;
}

.social-icon svg {
  opacity: 0.8;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-sizing: content-box;
}

.social-icon:hover svg,
.social-icon:active svg {
  opacity: 1.0;
}

.business-information {
  margin-bottom: 32px;
}

.business-information ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 340px;
  padding: 0;
  margin: 0;
  margin-left: 15px;
}

.business-information li {
  margin-left: 22px;
  min-width: 121px;
  margin-bottom: 1px;
}

.business-information a.link-basic {
  font-size: 13px;
  line-height: 18px;
}

.for-suppliers {
  position: relative;
}

.icon-heart {
  position: absolute;
  top: 2px;
  left: -22px;
}

.for-suppliers:hover path {
  fill: var(--link-basic-hover);
}

.business-information .for-suppliers {
  font-weight: bold;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 28px;
}

.logo-html-academy {
  line-height: 0;
}

.copyright-text {
  margin: 0;
  margin-top: 6px;
}

.travolta-wrapper {
  margin: 120px 0;
  width: 100%;
}

.travolta-wrapper img {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 lightblue, inset 0 0 7px 0 lightblue;
  width: 443;
  height: 431;
}

/* Pop-ups */

.pop-up {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 477px;
  background-color: var(--bg-tiles);
  border-radius: 6px;
  padding: 14px 25px 27px 24px;
  z-index: 100;
}

.pop-up-active {
  display: block;
}

.pop-up p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--font-color-secondary);
  margin: 0;
  margin-bottom: 20px;
}

.pop-up form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.pop-up-client-contact {
  width: 267px;
  padding: 12px 14px;
  margin-bottom: 20px;
}

.pop-up-feedback {
  min-width: 428px;
  max-width: 428px;
  border-radius: 4px;
  min-height: 154px;
  padding: 12px 14px;
}

.pop-up .button-basic {
  font-size: 18px;
  line-height: 24px;
  padding: 11px 24px 9px 24px;
  margin-top: 26px;
  align-self: flex-end;
}

.pop-up-close {
  position: absolute;
  top: 15px;
  right: 16px;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 17px;
  cursor: pointer;
}

.pop-up-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-pop-up-overlay);
  z-index: 80;
}

.pop-up-overlay-active {
  display: block;
}
