/* Variables */

:root {
  --bg-green: #849D8F;
  --bg-brown: #9D8B84;
  --bg-grey: #8996A6;
  --bg-tiles: #f8f7f4;
  --bg-map-contacts: #fefefe;
  --img-bg-advantages: #ede1c7;
  --font-color-primary: #FFFFFF;
  --font-color-secondary: #323232;
  --menu-element-active-background: #ededed;
  --menu-element-active-shadow: #696969;
  --menu-element-on-page: #d07058;
  --transparent-white: rgba(255, 255, 255, 0.2);
  --link-basic-border: rgba(255,255,255, 0.25);
  --link-basic-border-invisible: rgba(255,255,255, 0);
  --link-basic-hover: #ffbc9e;
  --link-basic-border-hover: rgba(255, 188, 158, 0.3);
  --input-text-color: #999999;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: var(--font-color-primary);
  background-color: var(--bg-green);
}

*, *>::after, *>::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.button-basic {
  font-family: inherit;
  font-style: normal;
  color: var(--font-color-primary);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  font-weight: bold;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.button-basic:hover,
.button-basic:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button-basic:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.link-basic {
  color: var(--font-color-primary);
  border-bottom: 1px solid var(--link-basic-border);
}

.link-basic:focus,
.link-basic:hover,
.link-basic:active {
  color: var(--link-basic-hover);
  border-color: var(--link-basic-border-hover);
}

.logo {
  line-height: 0;
}


/* Header */

  /* Site Menu */
.page-header {
  display: flex;
  margin-top: 9px;
  align-items: flex-start;
  position: relative;
}

.logo-gllacy {
  font-size: 0;
  line-height: 0;
}

.site-menu {
  margin: 0;
  margin-left: 11px;
  margin-top: 17px;
}

.site-menu ul {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
}

.site-menu li {
  margin-right: 7px;
}

.menu-element {
  color: var(--font-color-primary);
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  padding: 9px 13px 11px 13px;
  border-radius: 26px;
}

.menu-element-on-page {
  background-color: var(--menu-element-on-page);
}

.menu-element span {
  border-bottom: 1px solid var(--link-basic-border);
}

.menu-element-on-page > span {
  border-color: var(--link-basic-border-invisible);
}

.menu-element:hover,
.menu-element:focus {
  color: var(--font-color-secondary);
  background-color: var(--font-color-primary);
}

.menu-element:hover span,
.menu-element:focus span {
  border-color: var(--link-basic-border-invisible);
}

.menu-element:active {
  background-color: var(--menu-element-active-background);
  box-shadow: inset 0px 2px 1px var(--menu-element-active-shadow);
}

  /* Submenu */

.submenu {
  display: none;
  background-color: var(--font-color-primary);
}

.submenu ul {
  list-style: none;
}

.submenu a {
  color: var(--font-color-secondary);
  font-size: 14px;
  line-height: 16px;
}

/* Login, Search, and Shopping Cart */

.user-menu {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-left: auto;
  margin-top: 19px;
}

.user-menu li {
  margin-left: 10px;
}

.user-menu input {
  color: var(--input-text-color);
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--font-color-primary);
  border: 1px solid #D3D3D2;
  border-radius: 4px;
}

.user-menu-button {
  color: var(--font-color-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--transparent-white);
  border-radius: 20px;
  padding: 8px 16px;
}

.user-menu-button:focus,
.user-menu-button:hover {
  color: var(--font-color-secondary);
  background-color: var(--font-color-primary);
}

.user-menu-button-full {
  color: var(--font-color-secondary);
  background-color: var(--font-color-primary);
}

.search-form {
  display: none;
}

.login-form {
  display: none;
}

.login-form a {
  color: var(--font-color-secondary);
  font-size: 13px;
  line-height: 15px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.shopping-cart-contents {
  color: var(--font-color-secondary);
  display: none;
  font-size: 13px;
  line-height: 16px;
}

.shopping-cart-contents img {
  border-radius: 50%;
}

.shopping-cart-contents span {
  color: #ababab;
}

.shopping-cart-item {
  color: var(--font-color-secondary);

}

.shopping-cart-item-weight {
  color: #000000;
  }

.shopping-cart-total {
  font-size: 15px;
  line-height: 16px;
}

.shopping-cart-contents a.button-basic {
  font-size: 18px;
  line-height: 16px;
}

/* Contact Info */

.contact-info {
  text-align: right;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 10;
}

.contact-info p {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.contact-info a {
  color: var(--font-color-primary);
  display: block;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  margin-top: 8px;
}


/* Main */

.page-heading {
  font-size: 35px;
  line-height: 41px;
  margin: 9px 0;
}

  /* Slider */

.promo-slider {
  justify-content: center;
  align-content: center;
  width: 100%;
  position: relative;
}

.promo-slide {
  display: none;
  flex-direction: column;
  align-items: center;
}

.promo-slide img {
  position: absolute;
  z-index: -10;
  top: -79px;
  width: 1200px;
  height: auto;
  max-width: none;
}

.promo-slide h3 {
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 27px;
  max-width: 672px;
  margin-top: 325px;
}

.promo-slider a.button-basic {
  font-size: 32px;
  line-height: 30px;
  padding: 17px 32px;
  letter-spacing: 0.05em;
}

.slider-buttons {
  position: absolute;
  bottom: 23px;
  left: 0;
}

.slide-active {
    display: flex;
  }



/* Promo 2 kilograms */

.promo-tiles {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.promo-tile {
  display: flex;
  flex-direction: column;

  background-position: 50% 50%;
  padding: 16px 22px 22px 16px;
  border-radius: 16px;
  width: 560px;
  min-height: 229px;
  overflow: hidden;
}

.promo-tile h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 18px;
}

.promo-tile p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.promo-tile a.button-basic {
  font-size: 18px;
  line-height: 20px;
  padding: 16px 22px 13px 22px;
  align-self: flex-end;
  margin-top: auto;
}

.promo-tile-raspberry {
  background-color: #912746;
  background-image: url(../img/background-promo-raspberry.jpg);
}

.promo-tile-choco {
  background-color: #4c3930;
  background-image: url(../img/background-promo-chocolate.jpg);
}

  /* Catalog Breadcrumbs */

.breadcrumbs {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 28px;
}


.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  margin-right: 22px;
}

/* Catalog Filter */

.catalog-filter {
  font-weight: 500;
  line-height: 18px;
  margin-top: 29px;
  outline: 1px solid #c12ba1;
}

.catalog-filter fieldset {
  border: none;
  outline: 1px solid #c12ba1;
}

.catalog-filter ul {
list-style: none;
}

.filter-legend {
font-size: 14px;
line-height: 16px;
border: none;

}

.filter-sorting-principle {
  color: var(--font-color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--transparent-white);
  border: none;
  border-radius: 20px;
}

.filter-sorting-principle:hover {
  color: var(--font-color-secondary);
}

.filter-radio {
  background-color: var(--transparent-white);
  border-radius: 20px;
}

.filter-toppings {
  background-color: var(--transparent-white);
  border-radius: 20px;
}

.filter-button {
color: var(--font-color-primary);
font-family: inherit;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 18px;
box-shadow: inset 0px 0px 0 2px var(--font-color-primary);
background: var(--transparent-white);
border-radius: 20px;
padding: 9px 29px;
border: none;
}

.filter-button:hover,
.filter-button:focus {
color: var(--font-color-secondary);
background: var(--font-color-primary);
}

.filter-button:active {
box-shadow: inset 0px 2px 1px var(--menu-element-active-shadow);
}

  /* Hits - Catalog Items */

.catalog-items-list {
  margin-top: 40px;
}

.catalog-items-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: -13px;
  margin-right: -13px;
}

.catalog-items-list li {
  display: flex;
  justify-content: center;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 267px;
}

.catalog-items-list img {
  border-radius: 50%;
}

.catalog-items-list h3 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-top: 17px;
}

.catalog-item-price {
  color: var(--font-color-primary);
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  margin: 0;
  position: absolute;
  left: 0;
  top: 216px;
}

.catalog-item-price span {
  font-size: 30px;
  line-height: 35px;
}

.catalog-item a.button-basic {
  font-size: 18px;
  line-height: 24px;
  padding: 12px 16px;
}

  /* Advantages Section */

.advantages {
  margin-top: 40px;
  background-color: var(--img-bg-advantages);
  background-image: url(../img/background-waffle-pattern.jpg);
  background-repeat: repeat;
  border-radius: 16px;
  padding: 24px 20px 3px 20px;
}

.advantages ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-slogan {
  color: var(--font-color-secondary);
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 21px;
}

.advantages-item {
  color: var(--font-color-secondary);
  width: 540px;
  padding-left: 55px;
  margin:0;
  margin-bottom: 33px;
}

  /* Blogpost & Newsletter Subscription */

    /* Blogpost */
.blogpost-newsletter {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.blogpost {
  background-color: #ffffff;
  background-image: url(../img/background-blogpost-strawberry.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 16px;
  width: 560px;
  min-height: 220px;
}

.blogpost article {
  display: flex;
  flex-direction: column;
  width: 287px;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 21px 20px; /* OLD VALUE - margin: 23px 20px; - старое значение, новое подобрано по PixelPerfect */
}

.blogpost h3 {
  color: var(--font-color-secondary);
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;   /* OLD VALUE - 22px; */
  margin: 0;
  margin-bottom: 6px; /* OLD VALUE - 15px; */
}

.blogpost a {
  color: var(--font-color-secondary);
  font-weight: bold;
  font-size: 24px;
  line-height:  31px; /* OLD VALUE - 30px; */
  text-decoration: underline;
  margin: 0;
}

.blogpost p {
  margin: 0;
  padding: 0;
}

    /* Newsletter Subscription */

.newsletter-subscription-border {
  background-image: url(../img/bg-post.svg);
  background-repeat: repeat;
  border-radius: 16px;
  padding: 5px 6px;
  width: 560px;
  box-sizing: border-box;
}

.newsletter-subscription {
  background-color: var(--bg-tiles);
  border-radius: 16px;
  overflow: hidden;
  height: 100%;
  padding: 25px 16px 15px 20px; /* OLD VALUE - 29px 16px 10px 20px; */
}

.newsletter-subscription article {
  display: flex;
  flex-wrap: wrap;

}

.newsletter-subscription p {
  color: var(--font-color-secondary);
  margin: 0;
  padding: 0;
  max-width: 512px;
}

.subscription-form {
  width: 100%;
  display: flex;
  align-items: baseline;
  margin-right: 4px;
  margin-top: 40px; /* OLD VALUE - 47px; */
}

.newsletter-subscription input {
  color: var(--input-text-color);
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--font-color-primary);
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  height: 44px;
  padding: 14px;
  box-sizing: border-box;
  flex-grow: 1;
  margin-right: 10px;
}

.newsletter-subscription .button-basic {
  font-size: 18px;
  line-height: 24px;
  padding: 11px 19px 9px 19px;
}


  /* Interactive Map */

.interactive-map {
  margin-top: 40px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 430px;
  overflow: hidden;
}

.interactive-map .content-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.map-contacts {
  color: var(--font-color-secondary);
  background-color: var(--bg-map-contacts);
  border-radius: 16px;
  font-size: 18px;
  line-height: 24px;
  width: 303px;
  padding: 32px 25px 31px 25px;
  margin-right: 27px;
}

.map-contacts p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  max-width: 172px;
}

.map-contacts address {
  font-weight: bold;
  font-style: normal;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 8px;
}

.map-contacts b {
  color: var(--font-color-secondary);
}

.map-contacts a {
  display: block;
  margin-top: 11px;
  margin-bottom: 8px;
}

.map-contacts a.button-basic {
  padding: 10px 28px 9px 28px;
  margin: 0;
  margin-top: 31px;
}

/* Paginator */
.paginator {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--transparent-white);
}

.paginator a {
  color: var(--font-color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-left: 4px;
}

.paginator-back {
  transform: scaleX(-1);
}

.paginator-inactive path {
  fill: #C1C6CE;
}

.paginator-page {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.paginator-page:hover {
  font-weight: 500;
  color: var(--font-color-primary);
  border-radius: 50%;
  background-color: var(--transparent-white);
}

a.paginator-on-page,
.paginator-page:active {
  color: var(--font-color-secondary);
  background-color: var(--font-color-primary);
}

/* Footer */

.page-footer {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.social-links {
  margin-bottom: 33px;
}
.social-links ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-links li {
  margin-right: 12px;
  line-height: 0;
}

.social-links li:last-of-type {
  margin-right: 0;
}

.social-icon {
  line-height: 0;
  font-size: 0;
}

.social-icon svg {
  opacity: 0.8;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-icon:hover svg,
.social-icon:active svg {
  opacity: 1.0;
}

.business-information {
  margin-bottom: 30px;
}

.business-information ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 340px;
  padding: 0;
  margin: 0;
}

.business-information li {
  margin-left: 22px;
  min-width: 121px;
}

.business-information a.link-basic {
  font-size: 13px;
  line-height: 18px;
}

.business-information .for-suppliers {
  font-weight: bold;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 26px;
}

.logo-html-academy {
  line-height: 0;
}

.copyright-text {
  margin: 0;
  margin-top: 8px;
}

.copyright-link {

}


/* Pop-ups */

.pop-up {
  display: none;
}
