/* Variables */

:root {
  --bg-green: #849D8F;
  --bg-brown: #9D8B84;
  --bg-grey: #8996A6;
  --bg-tiles: #f8f7f4;
  --bg-map-contacts: #fefefe;
  --img-bg-advantages: #ede1c7;
  --font-color-primary: #FFFFFF;
  --font-color-secondary: #323232;
  --menu-element-active-background: #ededed;
  --menu-element-active-shadow: #696969;
  --menu-element-on-page: #d07058;
  --transparent-white: rgba(255, 255, 255, 0.2);
  --link-basic-border: rgba(255,255,255, 0.25);
  --link-basic-border-invisible: rgba(255,255,255, 0);
  --link-basic-hover: #ffbc9e;
  --link-basic-border-hover: rgba(255, 188, 158, 0.3);
  --input-text-color: #999999;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: var(--font-color-primary);
  background-color: var(--bg-green);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
}

.button-basic {
  font-family: inherit;
  font-style: normal;
  color: var(--font-color-primary);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  font-weight: bold;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.button-basic:hover,
.button-basic:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button-basic:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.link-basic {
  color: var(--font-color-primary);
  border-bottom: 1px solid var(--link-basic-border);
}

.link-basic:focus,
.link-basic:hover,
.link-basic:active {
  color: var(--link-basic-hover);
  border-color: var(--link-basic-border-hover);
}

.logo {
  font-size: 0;
}


/* Header */

  /* Site Menu */
.site-menu ul {
  list-style: none;
}

.menu-element {
  color: var(--font-color-primary);
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  padding: 9px 13px 11px 13px;
  border-radius: 26px;
}

.menu-element-on-page {
  background-color: var(--menu-element-on-page);
}

.menu-element span {
  border-bottom: 1px solid var(--link-basic-border);
}

.menu-element-on-page > span {
  border-color: var(--link-basic-border-invisible);
}

.menu-element:hover,
.menu-element:focus {
  color: var(--font-color-secondary);
  background-color: var(--font-color-primary);
}

.menu-element:hover span,
.menu-element:focus span {
  border-color: var(--link-basic-border-invisible);
}

.menu-element:active {
  background-color: var(--menu-element-active-background);
  box-shadow: inset 0px 2px 1px var(--menu-element-active-shadow);
}

  /* Submenu */

.submenu {
  display: none;
  background-color: var(--font-color-primary);
}

.submenu ul {
  list-style: none;
}

.submenu a {
  color: var(--font-color-secondary);
  font-size: 14px;
  line-height: 16px;
}

/* Login, Search, and Shopping Cart */

.user-menu {
  list-style: none;
}

.user-menu input {
  color: var(--input-text-color);
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--font-color-primary);
  border: 1px solid #D3D3D2;
  border-radius: 4px;
}

.user-menu-button {
  color: var(--font-color-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--transparent-white);
  border-radius: 20px;
  padding: 8px 16px;
}

.user-menu-button:focus,
.user-menu-button:hover {
  color: var(--font-color-secondary);
  background-color: var(--font-color-primary);
}

.user-menu-button-full {
  color: var(--font-color-secondary);
  background-color: var(--font-color-primary);
}

.search-form {
  display: none;
}

.login-form {
  display: none;
}

.login-form a {
  color: var(--font-color-secondary);
  font-size: 13px;
  line-height: 15px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.shopping-cart-contents {
  color: var(--font-color-secondary);
  display: none;
  font-size: 13px;
  line-height: 16px;
}

.shopping-cart-contents img {
  border-radius: 50%;
}

.shopping-cart-contents span {
  color: #ababab;
}

.shopping-cart-item {
  color: var(--font-color-secondary);

}

.shopping-cart-item-weight {
  color: #000000;
  }

.shopping-cart-total {
  font-size: 15px;
  line-height: 16px;
}

.shopping-cart-contents a.button-basic {
  font-size: 18px;
  line-height: 16px;
}

/* Contact Info */

.contact-info p {
  color: var(--font-color-primary);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.contact-info a {
  color: var(--font-color-primary);
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}


/* Main */

.page-heading {
  font-size: 35px;
  line-height: 41px;
}

  /* Slider */

.promo-slider {

}

.promo-slider h3 {
  font-size: 60px;
  line-height: 60px;
}

.promo-slider a.button-basic {
  font-size: 32px;
  line-height: 30px;
  padding: 17px 32px;
  letter-spacing: 0.05em;
}

/* Promo 2 kilograms */

.promo-tiles a.button-basic {
  font-size: 18px;
  line-height: 20px;
  padding: 16px 22px 13px 22px;
}

.promo-tile {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 16px;
}

.promo-tile h3 {
font-size: 35px;
line-height: 41px;
}

.promo-tile p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.promo-tile-raspberry {
  background-color: #912746;
  background-image: url(../img/background-promo-raspberry.jpg);
}

.promo-tile-choco {
  background-color: #4c3930;
  background-image: url(../img/background-promo-chocolate.jpg);
}

  /* Catalog Breadcrumbs */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
}

/* Catalog Filter */

.catalog-filter {
  font-weight: 500;
  line-height: 18px;
}

.catalog-filter fieldset {
border: none;
}

.catalog-filter ul {
list-style: none;
}

.filter-legend {
font-size: 14px;
line-height: 16px;
border: none;

}

.filter-sorting-principle {
  color: var(--font-color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--transparent-white);
  border: none;
  border-radius: 20px;
}

.filter-sorting-principle:hover {
  color: var(--font-color-secondary);
}

.filter-radio {
  background-color: var(--transparent-white);
  border-radius: 20px;
}

.filter-toppings {
  background-color: var(--transparent-white);
  border-radius: 20px;
}

.filter-button {
color: var(--font-color-primary);
font-family: inherit;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 18px;
box-shadow: inset 0px 0px 0 2px var(--font-color-primary);
background: var(--transparent-white);
border-radius: 20px;
padding: 9px 29px;
border: none;
}

.filter-button:hover,
.filter-button:focus {
color: var(--font-color-secondary);
background: var(--font-color-primary);
}

.filter-button:active {
box-shadow: inset 0px 2px 1px var(--menu-element-active-shadow);
}

  /* Hits - Catalog Items */

.catalog-items-list ul {
  list-style: none;
}

.catalog-items-list img {
  border-radius: 50%;
}

.catalog-items-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.catalog-item-price {
  color: var(--font-color-primary);
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  margin: 0;
}

.catalog-item-price span {
  font-size: 30px;
  line-height: 35px;
}

.catalog-item a.button-basic {
  font-size: 18px;
  line-height: 24px;
  padding: 12px 16px;
}

  /* Advantages Section */

.advantages {
  background-color: var(--img-bg-advantages);
  background-image: url(../img/background-waffle-pattern.jpg);
  background-repeat: repeat;
  border-radius: 16px;
}

.advantages ul {
  list-style: none;
}

.advantages-slogan {
  color: var(--font-color-secondary);
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.advantages-item {
  color: var(--font-color-secondary);
}

  /* Blogpost & Newsletter Subscription */

    /* Blogpost */

.blogpost {
  background-color: #ffffff;
  background-image: url(../img/background-blogpost-strawberry.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 16px;
}

.blogpost h3 {
  color: var(--font-color-secondary);
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.blogpost a {
  color: var(--font-color-secondary);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}

    /* Newsletter Subscription */

.newsletter-subscription-border {
  background-image: url(../img/bg-post.svg);
  background-repeat: repeat;
  background-position: 50% 50%;
  border-radius: 16px;
  padding: 5px 6px;
}

.newsletter-subscription {
  background-color: var(--bg-tiles);
  border-radius: 16px;
  overflow: hidden;
}

.newsletter-subscription p {
  color: var(--font-color-secondary);
}

.newsletter-subscription input {
  color: var(--input-text-color);
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--font-color-primary);
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
}

.newsletter-subscription .button-basic {
  font-size: 18px;
  line-height: 24px;
  padding: 10px 19px;
}


  /* Interactive Map */

.interactive-map {
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 430px;
}

.map-contacts {
  color: var(--font-color-secondary);
  background-color: var(--bg-map-contacts);
  border-radius: 16px;
  font-size: 18px;
  line-height: 24px;
}

.map-contacts p {
  font-size: 14px;
  line-height: 20px;
}

.map-contacts address {
  font-weight: bold;
  font-style: normal;
}

.map-contacts b {
  color: var(--font-color-secondary);
}

.map-contacts a.button-basic {
  padding: 13px 28px;

}

/* Paginator */
.paginator a {
  color: var(--font-color-primary);
}

.paginator-back {
  transform: scaleX(-1);
}

.paginator-inactive path {
  fill: #C1C6CE;
}

.paginator-page {
  border-radius: 50%;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 50%;
}

.paginator-page:hover {
  font-weight: 500;
  color: var(--font-color-primary);
  border-radius: 50%;
  background-color: var(--transparent-white);
}

a.paginator-on-page,
.paginator-page:active {
  color: var(--font-color-secondary);
  background-color: var(--font-color-primary);
}

/* Footer */

.social-links ul {
  list-style: none;
}

.social-icon {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-icon:hover g,
.social-icon:active g {
  fill: var(--font-color-primary);
}

.business-information ul {
  list-style: none;
}

.business-information a.link-basic {
  font-size: 13px;
  line-height: 18px;
}

.business-information .for-suppliers {
  font-weight: bold;
}
.copyright {
  font-size: 12px;
  line-height: 18px;
}

.copyright-text {

}

.copyright-link {

}


/* Pop-ups */

.pop-up {
  display: none;
}
